@import "lib/mixins";
@import "lib/general";
@import "lib/colors";

@-webkit-keyframes spin {
  0% {
    @include transform(rotate(0deg));
  }
  20% {
    @include transform(rotate(359deg));
  }
  35% {
    @include transform(rotate(718deg));
  }
  45% {
    @include transform(rotate(1077deg));
  }
  50% {
    @include transform(rotate(1436deg));
  }
  55% {
    @include transform(rotate(1795deg));
  }
  65% {
    @include transform(rotate(2154deg));
  }
  80% {
    @include transform(rotate(2513deg));
  }
  100% {
    @include transform(rotate(2872deg));
  }
}


@-moz-keyframes spin {
  0% {
    @include transform(rotate(0deg));
  }
  20% {
    @include transform(rotate(359deg));
  }
  35% {
    @include transform(rotate(718deg));
  }
  45% {
    @include transform(rotate(1077deg));
  }
  50% {
    @include transform(rotate(1436deg));
  }
  55% {
    @include transform(rotate(1795deg));
  }
  65% {
    @include transform(rotate(2154deg));
  }
  80% {
    @include transform(rotate(2513deg));
  }
  100% {
    @include transform(rotate(2872deg));
  }
}

html {
  @include respond-to(break-3) {
    font-size: 90%;
  }

  height: 100%;
  overflow-y: auto;
}

body {
  @include text-shadow(hsla(0,0,0,0.7) 0px 2px 0px);

  background: #0D0D0F url(/img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  color: $font;
  width: 100%;
  height: 100%;
}

a {
  @include transition(color 0.3s linear);

  text-decoration: none;
  color: $primary;
  font-weight: 600;

  &:hover {
    color: darken($primary, 10%);
  }

  &:active {
    color: lighten($primary, 10%);
  }
}

h1 {
  @extend %banner;

  background-color: transparentize($primary, 0.8);
  color: #fff;
  font-weight: 400;
  font-size: 2.7rem;
  letter-spacing: 5px;

  margin: 2rem 0rem;
  padding: 1.1rem 3rem 0.5rem 1.5rem;

  @include respond-to(break-2) {
    font-size: 2.4rem;
    letter-spacing: 5px;
  }

  @include respond-to(break-3) {
    font-size: 1.8rem;
    letter-spacing: 5px;
  }

  @include respond-to(break-4) {
    font-size: 1.9rem;
    letter-spacing: 1px;
  }
}

h2 {
  font-weight: 300;
  font-style: italic;
  line-height: 2.2rem;
  color: #fff;
}

h3 {
  @extend %reverse-banner;

  background-color: transparentize($secondary, 0.7);
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;

  padding: 15px 20px;
  margin: 2rem 0rem;
}

footer {
  padding-left: 30px;
  font-size: 0.75rem;
}
// footer {
//   background-color: black;

//   height: 44px;
//   position: absolute;
//   width: 100%;
//   bottom: 0;
// }

.wrapper {
  @extend %clearfix;
}

.container {
  width: 45%;
  // min-width: 450px;
  // margin-right: 25px;
  float: left;

  @include respond-to(break-3) {
    width: 47%;
  }

  @include respond-to(break-4) {
    width: 95%;
  }
}

.tagline {
  @extend %indent;

  margin-bottom: 2rem;

}

.pages {
  @extend %banner;
  @extend %clearfix;
  @extend %chiseled;

  background-color: transparentize($secondary, 0.5);
  cursor: pointer;

  padding: 0;
}

.page {
  border-right: 1px solid hsla(100%, 100%, 100%, 0.1);
  border-left: 1px solid hsla(0, 0, 0, 0.2);
  font-weight: 600;
  font-size: 0.9rem;
  color: #fff;
  text-align: center;

  float: left;
  width: 33.3%;
  padding: 1em 0rem;

  &:first-child {
    border-left-width: 0px;
  }

  &:last-child {
    border-right-width: 0px;
  }

  &.active {
    @include border-top-right-radius(3px);
    @include border-bottom-right-radius(3px);

    background-color: transparentize($secondary, 0.6);
  }
}

.stash {
  position: absolute;
  visibility: hidden;
  display: block;
  top: -9999px;
  left: -9999px;
}

.content {
  @extend %indent;

  font-weight: 300;

  margin: 2rem 1.5rem;

  p {
    margin: 0 0 0 0;
    padding-bottom: 1rem;
    line-height: 1.6rem;
  }

  .content-part {
    display: none;

    &:first-child {
      display: block;
    }
  }

  .format-item {
    @extend %clearfix;

    list-style-type: none;

    h5 {
      color: #fff;

      margin: 0 0 0.5rem 0;
      padding: 0;
    }

    .format-icon {
      // color: #fff;

      float: left;
      font-size: 18px;
    }

    .format-description {
      margin-left: 2rem;
    }
  }

  .location-part {
    .meetup-time {
      @extend %chiseled;

      @include border-radius(5px);

      background-color: hsla(240, 10%, 44%, 0.7);

      margin-bottom: 15px;

      @include respond-to(break-4) {
        display: none;
      }
    }

    .meetup-time-items {
      list-style-type: none;

      padding: 10px;
    }

    .meetup-time-item {
      font-size: 0.8rem;
      padding: 5px;
    }

    .meetup-icon {
      font-size: 1rem;

      margin-right: 0.5rem;
    }

    .meetup-map {
      margin-bottom: 1rem;
    }

    .meetup-details {
      float: right;
      padding-left: 25px;

      img {
        @include border-radius(5px);
      }

        @include respond-to(break-4) {
          float: none;
        }
    }
  }
}

.callout {
  @extend %chiseled;
  @extend %banner;
  @extend %clearfix;

  background-color: lighten(transparentize($secondary, 0.7), 30%);
  color: hsl(0, 0%, 100%);

  padding: 0.6rem 0.8rem 0.6rem 1.5rem;
  margin-bottom: 1.2rem;

  .icon-calendar {
    font-size: 0.9rem;

    margin-right: 0.5rem;

    @include respond-to(break-4) {
      display: none;
    }
  }

  .date {
    font-weight: 300;
    line-height: 2rem;

    @include respond-to(break-4) {
      display: none;
    }
  }

  .location {
    @include respond-to(break-2) {
      display: none;
    }
  }

  .start-time {
    @include respond-to(break-1) {
      display: none;
    }
  }
}

.join {
  @extend %button;

  float: right;

  @include respond-to(break-4) {
    width: 100%;
    font-size: 1.2rem;
  }
}

.speakers {
  width: 45%;
  // min-width: 450px;
  float: right;
  // margin-left: 25px;

  @include respond-to(break-3) {
    width: 47%;
  }
  @include respond-to(break-4) {
    width: 95%;
  }
}

.people {
  padding-bottom: 3rem;
}

.person {
  @extend %clearfix;

  list-style-type: none;
  margin-top: 2rem;
  padding: 0 0.8rem;

  &:first-child {
    margin-top: 0;
  }

  .contact {
    height: 135px;
    float: left;
    margin-right: 2rem;

    @include respond-to(break-3) {
      height: 155px;
    }

    @include respond-to(break-4) {
      height: 175px;
    }

    .portrait {
      @include border-radius(150px);
      @include box-shadow(hsla(0,0,0,1) 0px 1px 3px 0px inset);

      border: 4px solid #9292a6;

      display: inline-block;

      &:hover {
        img {
          @include animation-parts(spin, 4s, 1, linear);
        }
      }

      .photo {
        @include border-radius(150px);

        display: block;
        z-index: -1;
        position: relative;
      }
    }

    .social {
      text-align: center;

      padding: 0 0.4rem;
      margin: 0.4rem 0;

      .link {
        color: hsla(100%, 100%, 100%,0.5);
        font-weight: 100;
        font-size: 0.9rem;

        padding: 0px 0.3rem;
      }
    }
  }

  .profile {
    padding-right: 2rem;
    overflow: hidden;

    @include respond-to(break-4) {
      padding-right: 1rem;
    }

    .name {
      font-size: 1rem;
      font-weight: 500;
      color: #fff;

      margin-bottom: 0.4rem;

    }

    .position {
      font-style: italic;
      font-size: 0.6rem;
      color: hsla(100%, 100%, 100%, 0.6);

      margin-bottom: 0.6rem;
    }

    .presentation {
      font-weight: 300;
      font-size: 0.8rem;
      line-height: 1.4rem;
    }
  }
}

.sponsor img {
  width: 100%;
  height: auto;
  max-width: 300px;
  max-height: 100px;
}
