<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>FrontEndParty - New Orleans Front End Developer Meetup</title>
	<meta name="description" content="FrontEndParty is a monthly meetup in New Orleans for front-end developers and designer professionals">
	<meta name="viewport" content="width=device-width">

	<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300|Open+Sans:300italic,400italic,400,600,700?v=2' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="/assets/app.css">
</head>
<body>
	<div class="wrapper">
		<div class="container" data-behavior="main-container">
			<h1>#FRONTENDPARTY</h1>

			<div class="tagline">
				<h2>
					FrontEndParty is a monthly meetup in New Orleans for front-end developers and designer professionals.
				</h2>
			</div>

			<nav class="main">
				<ul class="pages">
					<li class="page active" data-tab="idea">The Idea</li>
					<li class="page" data-tab="format">The Format</li>
					<li class="page" data-tab="location">The Location</li>
				</ul>
			</nav>

			<div class="content" data-behavior="content-container">
				<div class="content-part idea" data-content="idea">
					<p>
						Are you a developer on the front-end side of things, looking to learn the  latest HTML5 / CSS3 Javascript tricks and hacks? Are you a designer who would love a second set of eyes on their latest work, or to talk about the newest design trends and styles?
					</p>

					<p>
						If this sounds like you, then come <a href="http://www.meetup.com/FrontEndParty">join us</a> at the next FrontEndParty and throw your ideas into the mix. We’ll host three 15 minute presentations from developers and designers around New Orleans. Plus it’s free!
					</p>

					<p>
						Want to present at #FrontEndParty? <a href="<%= submission_form_url %>" target="_blank">Submit your talk idea</a> and we'll be in touch.
					</p>
				</div>

				<div class="content-part format-part" data-content="format">
					<ul>
						<li class="format-item">
							<i class="format-icon icon-picture"></i>
							<div class="format-description">
								<h5>Three 15 minute presentations</h5>
								<p>
									Each meeting will start with three lightning talks about front-end development and design, which should range from 5 to 15 minutes each.  Want to talk about Backbone.js?  Got some tips on Angular? Opinionated on OOCSS? Looking for design critiques from experienced professionals?  We want to see you present!  <a href="<%= submission_form_url %>" target="_blank">Apply here to talk!</a>
								</p>
							</div>
						</li>
						<li class="format-item">
							<i class="format-icon icon-comments-alt"></i>
							<div class="format-description">
								<h5>Discuss & Network</h5>
								<p>
									After our presentations, we’ll open the room up to general conversation so folks can network with both the speakers and each other.  One of our main goals for this meetup is help introduce developers to each other and possibly share ideas / solutions to common front-end development problems.
								</p>
							</div>
						</li>
					</ul>
				</div>

				<div class="content-part location-part" data-content="location">
					<div class="meetup-details">
						<div class="meetup-time">
							<ul class="meetup-time-items">
								<li class="meetup-time-item">
									<i class="meetup-icon icon-calendar"></i>
									<span>Last Thursday of the month</span>
								</li>
								<li class="meetup-time-item">
									<i class="meetup-icon icon-time"></i>
									<span>7:00pm - 9:00pm</span>
								</li>
							</ul>
						</div>
						<div class="meetup-map">
							<a href="http://goo.gl/maps/rmsKP">
								<img src="http://maps.google.com/maps/api/staticmap?center=29.952931,-90.073131&zoom=13&markers=size:mid|color:purple|label:F|29.952931,-90.073131&size=222x150&sensor=true" />
							</a>
						</div>
					</div>
					<p>
						Our gracious host for FrontEndParty meetups is <a href="http://oseberg.io/">Oseberg</a>, located at <a href="http://goo.gl/maps/rmsKP">935 Gravier Street</a> Suite 1650 (The Exchange Centre) in New Orleans. Go to the 16th floor and look for the Ninja on the door.
					</p>
					<p>
						We'll start the presentations around 7:00pm or so, but feel free to come earlier if you like, the doors should be open. If there are any issues with getting in, call Brian at (504) 812-0576.
					</p>
				</div>
			</div>

			<div class="callout">
				<i class="icon-calendar"></i>
				<span class="date">The last Thursday of the month</span>
				<span class="location">at <a href="http://www.dojo.la/dojola/home">The Dojo</a></span>
				<span class="start-time">at 7:00pm</span>
				<a href="http://www.meetup.com/FrontEndParty/" class="join">Join The Meetup</a>
			</div>
		</div>

		<div class="speakers">
			<h3>Talks For <%= next_meeting %></h3>

			<ul class="people" data-list="people">

			</ul>
		</div>
	</div>

	<footer>
		<!-- <a href="http://pluralsight.com" target="_blank"><img src="/pluralsight-reverse-250x55-v1.png" style="padding-left: 40px"/></a> -->
	</footer>

	<script id="person-template" type="text/x-handlebars-template">
	  <li class="person">
			<div class="contact">
				<div class="portrait">
					<img src="{{portrait}}" class="photo" width="73" height="73" alt="{{name}}">
				</div>
				<div class="social">
					{{#each social}}
						<a href="{{this}}" class="link"><i class="icon-{{@key}}"></i></a>
					{{/each}}
				</div>
			</div>
			<div class="profile">
				<div class="name">
					{{name}}
				</div>
				<div class="position">
					{{position}} @ <a href="{{company.link}}">{{company.name}}</a>
				</div>
				<div class="presentation">
					{{presentation}}
				</div>
			</div>
		</li>
	</script>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="/javascripts/vendor/jquery-1.8.3.min.js"><\/script>')</script>

	<script src='/javascripts/underscore.js'></script>
	<script src='/javascripts/plugins.js'></script>
	<script src='/assets/script.js'></script>

	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-38609626-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
</body>
</html>
